.commento-root * {
    font-family: inherit;
    font-size: 13px;
    line-height: 1.5;
    color: #50596c;
    text-rendering: optimizeLegibility;
}

.commento-root .commento-login-box-container .commento-login-box {
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    background: #f1f3f5;
    z-index: 999999;
    position: fixed;
    bottom: 0;
    right: 0;
    top:0;
    padding: 16px;
    opacity: 1;
    transition: opacity .2s
}

.commento-root .commento-markdown-button {
    visibility: hidden;
    color: #707880;
    margin: 0 1px;
    font-size: 1px;
    border: none;
    line-height: 58px;
    font-weight: 400;
    cursor: pointer
}

.commento-root .commento-anonymous-checkbox-container input[type=checkbox]+label {
    padding-left: 18px;
    font-size: 11px;
    text-transform: none;
    font-weight: 700;
    color: #495057
}

.commento-root .commento-submit-button {
    float: right;
    background: #1971c2;
    text-transform: none;
    font-size: 12px;
    margin-top: 10px;
}

    .commento-root .commento-login {
    width: 100%;
    margin-bottom: 16px;
}
