.commento-root * {
    font-family: inherit;
    font-size: 13px;
    line-height: 1.5;
    color: #50596c;
    text-rendering: optimizeLegibility;
}

.commento-root .commento-login-box-container .commento-login-box {
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    background: #f1f3f5;
    z-index: 999999;
    position: fixed;
    bottom: 0;
    right: 0;
    top:0;
    padding: 16px;
    opacity: 1;
    transition: opacity .2s
}

.commento-root .commento-markdown-button {
    visibility: hidden;
    color: #707880;
    margin: 0 1px;
    font-size: 1px;
    border: none;
    line-height: 58px;
    font-weight: 400;
    cursor: pointer
}

.commento-root .commento-anonymous-checkbox-container input[type=checkbox]+label {
    padding-left: 18px;
    font-size: 11px;
    text-transform: none;
    font-weight: 700;
    color: #495057
}

.commento-root .commento-submit-button {
    float: right;
    background: #1971c2;
    text-transform: none;
    font-size: 12px;
    margin-top: 10px;
}

.commento-root .commento-login {
    width: 100%;
    margin-bottom: 0px;
}

.commento-root .commento-login-box-container .commento-login-box .commento-login-box-subtitle {
    color: #707880;
    text-align: center;
    margin: 35vh 0;
    font-size: 15px;
}

.commento-root .commento-login-box-container .commento-login-box .commento-login-box-close {
    position: absolute;
    right: 47vw;
    top: 70vh;
    width: 16px;
    height: 16px;
    opacity: .3;
}

.commento-root .commento-card .commento-option-reply {
    height: 20px;
    width: 20px;
    margin: 10px -62px;
}

.commento-root .commento-card .commento-option-downvote, .commento-root .commento-card .commento-option-upvote {
    height: 0px;
    width: 0px;
    -webkit-mask-image: url(data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 284.929 284.929" version="1.1" viewBox="0 0 284.93 284.93" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"> <path d="m282.08 195.28-133.05-133.04c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665 0.953-6.567 2.856l-133.04 133.04c-1.906 1.906-2.856 4.093-2.856 6.568 0 2.474 0.953 4.664 2.856 6.566l14.272 14.271c1.903 1.903 4.093 2.854 6.567 2.854s4.664-0.951 6.567-2.854l112.2-112.2 112.21 112.21c1.902 1.903 4.093 2.848 6.563 2.848 2.478 0 4.668-0.951 6.57-2.848l14.274-14.277c1.902-1.902 2.847-4.093 2.847-6.566 1e-3 -2.476-0.944-4.666-2.846-6.569z" fill="%23abbac4"/></svg>);
    mask-image: url(data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 284.929 284.929" version="1.1" viewBox="0 0 284.93 284.93" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"> <path d="m282.08 195.28-133.05-133.04c-1.901-1.903-4.088-2.856-6.562-2.856s-4.665 0.953-6.567 2.856l-133.04 133.04c-1.906 1.906-2.856 4.093-2.856 6.568 0 2.474 0.953 4.664 2.856 6.566l14.272 14.271c1.903 1.903 4.093 2.854 6.567 2.854s4.664-0.951 6.567-2.854l112.2-112.2 112.21 112.21c1.902 1.903 4.093 2.848 6.563 2.848 2.478 0 4.668-0.951 6.57-2.848l14.274-14.277c1.902-1.902 2.847-4.093 2.847-6.566 1e-3 -2.476-0.944-4.666-2.846-6.569z" fill="%23abbac4"/></svg>);
    margin: 12px 6px;
}

.commento-root .commento-card .commento-option-button {
    border: none;
    cursor: pointer;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 3;
    background: #50596c;
}

.commento-root .commento-card .commento-option-cancel {
    height: 13px;
    width: 13px; 
    margin: 12px -62px;
}
